.theme-slow {
    .data-\[state\=closed\]\:animate-accordion-closed[data-state="closed"] {
        animation: accordion-closed 700ms ease;
    }

    .data-\[state\=open\]\:animate-accordion-open[data-state="open"] {
        animation: accordion-open 700ms ease;
    }
}

.theme-fast {
    .data-\[state\=closed\]\:animate-accordion-closed[data-state="closed"] {
        animation: accordion-closed 100ms ease;
    }

    .data-\[state\=open\]\:animate-accordion-open[data-state="open"] {
        animation: accordion-open 100ms ease;
    }
}


.theme-sharp {
    --aui-border-radius: 2px;
    --aui-border-radius-lg: 4px;

    .rounded {
        border-radius: var(--aui-border-radius);
    }

    .rounded-lg {
        border-radius: var(--aui-border-radius-lg);
    }
}

.theme-smooth {
    --aui-border-radius: 12px;
    --aui-border-radius-lg: 24px;

    .rounded {
        border-radius: var(--aui-border-radius);
    }

    .rounded-lg {
        border-radius: var(--aui-border-radius-lg);
    }
}

.theme-echo {
    .shadow-md {
        box-shadow: rgba(139,74,98, 0.4) -5px 5px, rgba(139,74,98, 0.3) -10px 10px, rgba(139,74,98, 0.2) -15px 15px, rgba(139,74,98, 0.1) -20px 20px, rgba(139,74,98, 0.05) -25px 25px;
    }
}

/* Dark mode styles */
.theme-echo:is([data-mode="dark"] *) {
    .shadow-md {
        box-shadow: rgba(255,176,203, 0.4) -5px 5px, rgba(255,176,203, 0.3) -10px 10px, rgba(255,176,203, 0.2) -15px 15px, rgba(255,176,203, 0.1) -20px 20px, rgba(255,176,203, 0.05) -25px 25px;
    }
}


.theme-glow {
    .shadow-md {
        box-shadow: theme(colors.info.container-text/50%) 1px 10px 20px, theme(colors.info.container-text/30%) 0 0 0 3px;
    }
}

/* Dark mode styles */
.theme-glow:is([data-mode="dark"] *) {
    .shadow-md {
        box-shadow: theme(colors.info.dark-DEFAULT/50%) 1px 10px 20px, theme(colors.info.dark-DEFAULT/30%) 0 0 0 3px;
    }
}


.theme-compact {
    .px-4 {
        padding-left: 2px;
        padding-right: 2px;
    }
    .py-2 {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

.theme-spacious {
    .px-4 {
        padding-left: 24px;
        padding-right: 24px;
    }
    .py-2 {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.theme-forest {
    --aui-primary-dark-container: 124 155 115;
    --aui-primary-dark-container-text: 240 244 224;
    --aui-primary-dark-shadow-md: 0 255 127;
    .shadow-md{
        box-shadow: 0 0 15px rgba(0,255,127,0.6),0 0 30px rgba(34,139,34,0.4);
    }
}

.theme-default {
    --aui-border-radius: 0.5rem;
    --aui-primary-dark-shadow-md: 0 0 0;
    .py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

