@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white dark:bg-gray-950 transition-colors duration-200 ease-in-out;
}


.dot-grid {
    /* Dots 8px */
    position: absolute;
    width: 100%;
    height: 509px;
    left: 0;
    top: 0;
    z-index: -1;
    @apply bg-white dark:bg-gray-950 transition-colors duration-200 ease-in-out;

    background-image: linear-gradient(to bottom, theme(colors.white/90%), theme(colors.white/95%)), url('/dot8.png');

}

/* Dark mode styles */
.dot-grid:is([data-mode="dark"] *) {
    @apply bg-gray-950 dark:bg-gray-950 transition-colors duration-200 ease-in-out;
    background-image: linear-gradient(to bottom, theme(colors.gray.950/90%), theme(colors.gray.950/95%)), url('/dot8-w.png');
}


.blob1 {
    z-index: -1;
    position: absolute;
    width: 500px;
    height: 400px;
    left: 1px;
    @apply mt-36;
    @apply bg-primary dark:bg-primary-dark-DEFAULT transition-colors duration-200 ease-in-out;
    clip-path: path("M323.713 19.9735C345.875 43.5301 345.341 87.5499 361.361 123.48C377.115 159.409 409.69 187.249 417.967 219.609C425.977 251.97 409.957 289.089 376.314 297.893C342.404 306.697 290.871 287.186 248.15 300.987C205.429 315.025 171.786 362.376 139.211 370.705C106.37 378.795 74.3287 347.624 48.162 315.263C21.9953 282.665 1.70276 248.877 0.100715 215.088C-1.50133 181.062 16.1211 147.036 44.9579 128.714C73.7947 110.155 113.579 107.299 143.483 87.074C173.121 66.6107 192.613 28.7775 224.654 11.1695C256.961 -6.20045 301.552 -3.3451 323.713 19.9735Z");
    animation: 6s cubic-bezier(0.9, -0.03, 0.52, 0.96) -3s infinite morphBlob1;
}

@keyframes morphBlob1 {
    0% {
        clip-path: path("M323.713 19.9735C345.875 43.5301 345.341 87.5499 361.361 123.48C377.115 159.409 409.69 187.249 417.967 219.609C425.977 251.97 409.957 289.089 376.314 297.893C342.404 306.697 290.871 287.186 248.15 300.987C205.429 315.025 171.786 362.376 139.211 370.705C106.37 378.795 74.3287 347.624 48.162 315.263C21.9953 282.665 1.70276 248.877 0.100715 215.088C-1.50133 181.062 16.1211 147.036 44.9579 128.714C73.7947 110.155 113.579 107.299 143.483 87.074C173.121 66.6107 192.613 28.7775 224.654 11.1695C256.961 -6.20045 301.552 -3.3451 323.713 19.9735Z");
    }
    25% {
        clip-path: path("M311.559 39.3026C339.612 52.4338 374.828 59.2979 409.745 81.9792C444.663 104.959 478.685 143.457 487.638 188.522C496.591 233.287 480.177 284.32 441.678 301.331C403.478 318.044 343.194 300.734 293.653 311.776C243.814 322.819 205.017 362.212 161.445 370.27C118.171 378.627 70.1229 355.945 43.2634 318.641C16.1056 281.336 10.1368 229.408 4.4665 178.375C-1.20382 127.342 -5.97884 77.5026 19.9853 50.6432C45.9494 23.7838 102.951 19.6056 145.031 12.7416C187.111 6.17593 214.268 -3.67252 238.442 1.40093C262.615 6.47437 283.506 26.1713 311.559 39.3026Z");
    }
    50% {
        clip-path: path("M347.605 36.3343C374.619 61.3579 391.68 94.0592 419.548 129.32C447.415 164.865 485.803 202.969 486.656 239.367C487.794 276.049 451.111 311.309 414.429 337.186C377.747 363.063 340.78 379.271 308.648 368.75C276.515 358.513 249.501 321.262 214.809 310.456C180.402 299.651 138.317 315.575 95.3784 308.466C52.4402 301.357 8.93332 271.499 1.25563 234.817C-6.42206 198.135 22.2982 154.912 54.9995 126.476C87.9851 97.7558 125.52 84.391 158.222 61.9266C190.923 39.7466 218.79 8.46716 251.207 1.64254C283.624 -5.46643 320.591 11.3107 347.605 36.3343Z");
    }
    75% {
        clip-path: path("M363.148 2.23568C379.093 13.0557 367.134 66.8711 373.683 105.026C380.232 143.181 405.574 165.96 417.533 197.281C429.207 228.317 427.784 268.181 411.269 305.197C394.754 342.212 363.433 376.381 330.119 371.54C296.804 366.7 261.497 322.85 222.203 305.197C182.909 287.828 140.199 296.37 99.7658 283.841C59.6178 271.028 21.7477 237.429 7.22607 194.718C-7.58028 152.292 0.6771 100.755 29.1509 66.8711C57.3399 32.7026 105.745 16.1878 147.602 17.042C189.458 17.8962 224.481 36.4042 264.059 29.8552C303.638 23.0215 347.488 -8.58436 363.148 2.23568Z");
    }
    100% {
        clip-path: path("M323.713 19.9735C345.875 43.5301 345.341 87.5499 361.361 123.48C377.115 159.409 409.69 187.249 417.967 219.609C425.977 251.97 409.957 289.089 376.314 297.893C342.404 306.697 290.871 287.186 248.15 300.987C205.429 315.025 171.786 362.376 139.211 370.705C106.37 378.795 74.3287 347.624 48.162 315.263C21.9953 282.665 1.70276 248.877 0.100715 215.088C-1.50133 181.062 16.1211 147.036 44.9579 128.714C73.7947 110.155 113.579 107.299 143.483 87.074C173.121 66.6107 192.613 28.7775 224.654 11.1695C256.961 -6.20045 301.552 -3.3451 323.713 19.9735Z");
    }
}

.blob2 {
    z-index: -1;
    position: absolute;
    width: 380px;
    height: 500px;
    right: 1px;
    @apply bg-primary dark:bg-primary-dark-DEFAULT transition-colors duration-200 ease-in-out;
    clip-path: path("M348.911 0.399739C384.724 -4.37534 410.092 34.4222 435.46 74.4135C460.529 114.405 485.598 155.59 486.493 197.67C487.687 239.751 464.707 282.129 427.999 302.125C391.29 322.419 340.555 319.733 303.548 314.361C266.84 309.288 243.561 301.528 211.031 318.241C178.202 334.954 135.824 376.139 115.828 371.662C95.5338 367.185 97.6229 317.047 73.449 280.339C49.2752 243.63 -1.46 220.352 0.0322095 197.969C1.82286 175.585 55.5425 154.396 85.6852 127.835C116.126 101.572 122.692 70.2353 141.195 64.8633C159.699 59.4913 190.14 79.7854 228.341 66.3555C266.84 52.6272 312.8 4.87637 348.911 0.399739Z");
    animation: 6s cubic-bezier(0.9, -0.03, 0.52, 0.96) -3s infinite morphBlob2;
}

@media (max-width: 500px) {
    .blob1 {
        width: 100%;
    }

    .blob2 {
        display: none;
    }
}

@keyframes morphBlob2 {
    0% {
        clip-path: path("M348.911 0.399739C384.724 -4.37534 410.092 34.4222 435.46 74.4135C460.529 114.405 485.598 155.59 486.493 197.67C487.687 239.751 464.707 282.129 427.999 302.125C391.29 322.419 340.555 319.733 303.548 314.361C266.84 309.288 243.561 301.528 211.031 318.241C178.202 334.954 135.824 376.139 115.828 371.662C95.5338 367.185 97.6229 317.047 73.449 280.339C49.2752 243.63 -1.46 220.352 0.0322095 197.969C1.82286 175.585 55.5425 154.396 85.6852 127.835C116.126 101.572 122.692 70.2353 141.195 64.8633C159.699 59.4913 190.14 79.7854 228.341 66.3555C266.84 52.6272 312.8 4.87637 348.911 0.399739Z");
    }
    25% {
        clip-path: path("M300.803 1.01373C329.609 8.28497 342.473 53.031 362.609 92.1839C382.745 131.337 409.872 164.617 421.338 204.608C432.804 244.6 428.05 291.304 392.253 303.329C356.736 315.355 289.897 292.982 249.625 299.694C209.354 306.406 195.37 342.482 171.599 359.262C147.828 376.322 114.548 374.084 78.1917 365.135C42.1151 355.906 2.96228 339.686 0.165652 310.88C-2.63098 281.795 30.6489 240.126 49.666 209.363C68.9628 178.6 73.9967 158.744 86.8612 147.278C100.005 135.811 120.7 132.455 137.76 118.472C154.819 104.489 168.243 79.8787 197.328 52.1921C226.693 24.5054 271.718 -5.97785 300.803 1.01373Z");
    }
    50% {
        clip-path: path("M319.542 0.412528C356.663 -3.54297 391.653 21.4071 386.481 55.4853C381.613 89.2592 336.885 132.161 327.757 169.891C318.629 207.62 345.709 239.873 354.228 280.34C363.052 321.113 353.62 369.796 325.627 371.926C297.634 374.055 250.777 329.936 212.743 314.419C174.709 298.901 145.804 312.593 107.162 316.548C68.2151 320.504 19.8362 315.027 5.2313 289.773C-9.37363 264.518 10.0996 219.791 21.0533 181.453C32.007 143.115 34.7454 110.862 44.7863 78.0012C54.8272 45.1401 72.4749 11.3662 100.163 10.1492C127.852 8.6278 165.886 39.6633 204.528 38.4462C243.17 37.5334 282.421 4.36803 319.542 0.412528Z");
    }
    75% {
        clip-path: path("M295.859 16.2158C307.848 27.2061 313.843 44.5242 329.496 60.177C345.149 75.8299 370.127 89.8175 389.443 114.795C408.759 140.106 422.414 176.408 420.749 216.039C419.084 255.671 402.099 298.633 370.46 328.94C339.154 358.913 293.528 375.898 250.566 371.236C207.604 366.24 167.306 339.264 134.335 310.289C101.031 280.982 74.721 249.676 50.7422 215.04C26.7634 180.404 5.11583 142.105 0.786319 101.474C-3.54319 60.5101 9.77837 17.548 46.4127 4.55947C83.047 -8.09602 142.994 9.22202 180.627 12.8855C217.928 16.5489 232.915 5.89162 249.234 3.22731C265.552 0.229958 283.87 5.22555 295.859 16.2158Z");
    }
    100% {
        clip-path: path("M348.911 0.399739C384.724 -4.37534 410.092 34.4222 435.46 74.4135C460.529 114.405 485.598 155.59 486.493 197.67C487.687 239.751 464.707 282.129 427.999 302.125C391.29 322.419 340.555 319.733 303.548 314.361C266.84 309.288 243.561 301.528 211.031 318.241C178.202 334.954 135.824 376.139 115.828 371.662C95.5338 367.185 97.6229 317.047 73.449 280.339C49.2752 243.63 -1.46 220.352 0.0322095 197.969C1.82286 175.585 55.5425 154.396 85.6852 127.835C116.126 101.572 122.692 70.2353 141.195 64.8633C159.699 59.4913 190.14 79.7854 228.341 66.3555C266.84 52.6272 312.8 4.87637 348.911 0.399739Z");
    }
}


.code-block {
    .rehype-code-title {
        @apply px-5 py-3 font-mono text-sm font-bold text-neutral-800 bg-neutral-100 border border-b-0 rounded-t dark:text-neutral-200  dark:bg-neutral-900;
        @apply border-outline-variant dark:border-outline-dark-variant;
    }

    .rehype-code-title + pre {
        @apply mt-0 border border-outline-variant dark:border-outline-dark-variant;
        @apply rounded-t-none rounded-b;
        @apply bg-neutral-100 dark:bg-neutral-900;
        @apply p-4;
        @apply overflow-auto h-full;
    }

    .prose .anchor {
        @apply absolute invisible no-underline delay-[50ms] transition-all -ml-10 pr-2 cursor-pointer;
    }

    .anchor:hover {
        @apply visible;
    }

    .prose a {
        @apply transition-all;
    }

    .prose .anchor:after {
        @apply text-neutral-300 dark:text-neutral-700;
        content: "#";
    }

    .prose *:hover > .anchor {
        @apply visible;
    }

    .prose pre {
        @apply border shadow-md border-neutral-300 bg-neutral-200 dark:border-neutral-700 dark:bg-neutral-800;
    }

    .prose code {
        @apply font-mono text-neutral-800 dark:text-neutral-200 px-1 py-0.5 border border-neutral-400 dark:border-neutral-800 rounded-lg bg-neutral-300 dark:bg-neutral-800;
    }

    .prose pre code {
        @apply text-neutral-800 dark:text-neutral-200 p-0;
        border: initial;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata,
    .token.console {
        @apply text-neutral-700 dark:text-neutral-300;
    }

    .token.punctuation {
        @apply text-secondary dark:text-secondary-dark-DEFAULT;
    }

    .token.number,
    .token.symbol,
    .token.boolean,
    .token.constant,
    .token.property,
    .token.tag,
    .token.deleted {
        @apply text-blue-500;
    }

    .token.string {
        @apply text-surface-text-variant dark:text-surface-dark-text-variant;
    }

    .token.attr-name,
    .token.builtin,
    .token.char,
    .token.selector,
    .token.inserted {
        @apply text-purple-500;
    }

    .token.entity,
    .token.important,
    .token.operator,
    .token.regex,
    .token.url,
    .token.variable,
    .language-css .token.string,
    .style .token.string {
        @apply text-warning dark:text-warning-dark-DEFAULT;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        @apply text-error dark:text-error-dark-DEFAULT;
    }

    .token.function,
    .token.class-name {
        @apply text-primary;
    }

    code[class*="language-"],
    pre[class*="language-"] {
        @apply text-neutral-800 dark:text-neutral-200;
    }

    blockquote p {
        @apply font-mono;
    }

    blockquote p::before {
        content: "" !important;
    }
}


.theme-miku {
    --aui-gray-50: 249 250 251;
    --aui-gray-100: 243 244 246;
    --aui-gray-200: 229 231 235;
    --aui-gray-300: 209 213 219;
    --aui-gray-400: 156 163 175;
    --aui-gray-500: 107 114 128;
    --aui-gray-600: 75 85 99;
    --aui-gray-700: 55 65 81;
    --aui-gray-800: 31 41 55;
    --aui-gray-900: 17 24 39;
    --aui-gray-950: 3 7 18;
    --aui-white: 255 255 255;
    --aui-black: 0 0 0;
    --aui-outline: 131 115 119;
    --aui-outline-variant: 213 194 198;
    --aui-outline-dark: 131 115 119;
    --aui-outline-dark-variant: 213 194 198;
    --aui-surface: 255 248 248;
    --aui-surface-text: 34 25 28;
    --aui-surface-variant: 242 221 226;
    --aui-surface-text-variant: 81 67 71;
    --aui-surface-dim: 230 214 217;
    --aui-surface-bright: 255 248 248;
    --aui-surface-container-lowest: 255 255 255;
    --aui-surface-container-low: 255 240 243;
    --aui-surface-container: 250 234 237;
    --aui-surface-container-high: 244 228 231;
    --aui-surface-container-highest: 239 223 226;
    --aui-surface-scrim: 0 0 0;
    --aui-surface-inverse: 55 46 49;
    --aui-surface-inverse-text: 253 237 240;
    --aui-surface-inverse-primary: 255 176 203;
    --aui-surface-dark-DEFAULT: 25 17 20;
    --aui-surface-dark-text: 239 223 226;
    --aui-surface-dark-variant: 81 67 71;
    --aui-surface-dark-text-variant: 213 194 198;
    --aui-surface-dark-dim: 25 17 20;
    --aui-surface-dark-bright: 64 55 57;
    --aui-surface-dark-container-lowest: 19 12 14;
    --aui-surface-dark-container-low: 34 25 28;
    --aui-surface-dark-container: 38 29 32;
    --aui-surface-dark-container-high: 49 40 42;
    --aui-surface-dark-container-highest: 60 50 53;
    --aui-surface-dark-scrim: 0 0 0;
    --aui-surface-dark-inverse: 239 223 226;
    --aui-surface-dark-inverse-text: 55 46 49;
    --aui-surface-dark-inverse-primary: 139 74 98;
    --aui-primary: 139 74 98;
    --aui-primary-container: 255 217 227;
    --aui-primary-text: 255 255 255;
    --aui-primary-container-text: 57 7 31;
    --aui-primary-dark-DEFAULT: 255 176 203;
    --aui-primary-dark-container: 111 51 75;
    --aui-primary-dark-text: 84 29 52;
    --aui-primary-dark-container-text: 255 217 227;
    --aui-secondary: 116 86 96;
    --aui-secondary-container: 255 217 227;
    --aui-secondary-text: 255 255 255;
    --aui-secondary-container-text: 42 21 29;
    --aui-secondary-dark-DEFAULT: 226 189 200;
    --aui-secondary-dark-container: 90 63 72;
    --aui-secondary-dark-text: 66 41 50;
    --aui-secondary-dark-container-text: 255 217 227;
    --aui-info: 76 92 146;
    --aui-info-text: 255 255 255;
    --aui-info-container: 220 225 255;
    --aui-info-container-text: 2 23 75;
    --aui-info-dark-DEFAULT: 181 196 255;
    --aui-info-dark-text: 28 45 97;
    --aui-info-dark-container: 52 68 121;
    --aui-info-dark-container-text: 220 225 255;
    --aui-success: 0 105 107;
    --aui-success-text: 255 255 255;
    --aui-success-container: 156 241 242;
    --aui-success-container-text: 0 32 32;
    --aui-success-dark-DEFAULT: 128 212 213;
    --aui-success-dark-text: 0 55 55;
    --aui-success-dark-container: 0 79 80;
    --aui-success-dark-container-text: 156 241 242;
    --aui-warning: 124 88 13;
    --aui-warning-text: 255 255 255;
    --aui-warning-container: 255 222 171;
    --aui-warning-container-text: 39 25 0;
    --aui-warning-dark-DEFAULT: 239 191 109;
    --aui-warning-dark-text: 66 44 0;
    --aui-warning-dark-container: 95 65 0;
    --aui-warning-dark-container-text: 255 222 171;
    --aui-error: 186 26 26;
    --aui-error-text: 255 255 255;
    --aui-error-container: 255 218 214;
    --aui-error-container-text: 65 0 2;
    --aui-error-dark-DEFAULT: 255 180 171;
    --aui-error-dark-text: 105 0 5;
    --aui-error-dark-container: 147 0 10;
    --aui-error-dark-container-text: 255 218 214;
}

.theme-zenitsu {
    --aui-gray-50: 249 250 251;
    --aui-gray-100: 243 244 246;
    --aui-gray-200: 229 231 235;
    --aui-gray-300: 209 213 219;
    --aui-gray-400: 156 163 175;
    --aui-gray-500: 107 114 128;
    --aui-gray-600: 75 85 99;
    --aui-gray-700: 55 65 81;
    --aui-gray-800: 31 41 55;
    --aui-gray-900: 17 24 39;
    --aui-gray-950: 3 7 18;
    --aui-white: 255 255 255;
    --aui-black: 0 0 0;
    --aui-outline: 130 117 104;
    --aui-outline-variant: 211 196 180;
    --aui-outline-dark: 130 117 104;
    --aui-outline-dark-variant: 211 196 180;
    --aui-surface: 255 248 244;
    --aui-surface-text: 33 27 19;
    --aui-surface-variant: 240 224 208;
    --aui-surface-text-variant: 79 69 57;
    --aui-surface-dim: 229 216 204;
    --aui-surface-bright: 255 248 244;
    --aui-surface-container-lowest: 255 255 255;
    --aui-surface-container-low: 255 241 229;
    --aui-surface-container: 249 236 223;
    --aui-surface-container-high: 243 230 218;
    --aui-surface-container-highest: 237 224 212;
    --aui-surface-scrim: 0 0 0;
    --aui-surface-inverse: 54 47 39;
    --aui-surface-inverse-text: 252 238 226;
    --aui-surface-inverse-primary: 246 188 112;
    --aui-surface-dark-DEFAULT: 24 18 12;
    --aui-surface-dark-text: 237 224 212;
    --aui-surface-dark-variant: 79 69 57;
    --aui-surface-dark-text-variant: 211 196 180;
    --aui-surface-dark-dim: 24 18 12;
    --aui-surface-dark-bright: 63 56 48;
    --aui-surface-dark-container-lowest: 19 13 7;
    --aui-surface-dark-container-low: 33 27 19;
    --aui-surface-dark-container: 37 31 23;
    --aui-surface-dark-container-high: 48 41 33;
    --aui-surface-dark-container-highest: 59 52 43;
    --aui-surface-dark-scrim: 0 0 0;
    --aui-surface-dark-inverse: 237 224 212;
    --aui-surface-dark-inverse-text: 54 47 39;
    --aui-surface-dark-inverse-primary: 129 85 18;
    --aui-primary: 129 85 18;
    --aui-primary-container: 255 221 182;
    --aui-primary-text: 255 255 255;
    --aui-primary-container-text: 42 24 0;
    --aui-primary-dark-DEFAULT: 246 188 112;
    --aui-primary-dark-container: 100 63 0;
    --aui-primary-dark-text: 70 43 0;
    --aui-primary-dark-container-text: 255 221 182;
    --aui-secondary: 112 91 64;
    --aui-secondary-container: 251 222 188;
    --aui-secondary-text: 255 255 255;
    --aui-secondary-container-text: 39 25 5;
    --aui-secondary-dark-DEFAULT: 222 194 162;
    --aui-secondary-dark-container: 87 67 43;
    --aui-secondary-dark-text: 62 45 22;
    --aui-secondary-dark-container-text: 251 222 188;
    --aui-info: 76 92 146;
    --aui-info-text: 255 255 255;
    --aui-info-container: 220 225 255;
    --aui-info-container-text: 2 23 75;
    --aui-info-dark-DEFAULT: 181 196 255;
    --aui-info-dark-text: 28 45 97;
    --aui-info-dark-container: 52 68 121;
    --aui-info-dark-container-text: 220 225 255;
    --aui-success: 0 105 107;
    --aui-success-text: 255 255 255;
    --aui-success-container: 156 241 242;
    --aui-success-container-text: 0 32 32;
    --aui-success-dark-DEFAULT: 128 212 213;
    --aui-success-dark-text: 0 55 55;
    --aui-success-dark-container: 0 79 80;
    --aui-success-dark-container-text: 156 241 242;
    --aui-warning: 124 88 13;
    --aui-warning-text: 255 255 255;
    --aui-warning-container: 255 222 171;
    --aui-warning-container-text: 39 25 0;
    --aui-warning-dark-DEFAULT: 239 191 109;
    --aui-warning-dark-text: 66 44 0;
    --aui-warning-dark-container: 95 65 0;
    --aui-warning-dark-container-text: 255 222 171;
    --aui-error: 186 26 26;
    --aui-error-text: 255 255 255;
    --aui-error-container: 255 218 214;
    --aui-error-container-text: 65 0 2;
    --aui-error-dark-DEFAULT: 255 180 171;
    --aui-error-dark-text: 105 0 5;
    --aui-error-dark-container: 147 0 10;
    --aui-error-dark-container-text: 255 218 214;
}

.theme-rem {
    --aui-primary: 47 98 140;
    --aui-primary-container: 206 229 255;
    --aui-primary-text: 255 255 255;
    --aui-primary-container-text: 0 29 51;
    --aui-primary-dark-DEFAULT: 155 203 251;
    --aui-primary-dark-container: 14 74 115;
    --aui-primary-dark-text: 0 51 83;
    --aui-primary-dark-container-text: 206 229 255;
    --aui-secondary: 81 96 111;
    --aui-secondary-container: 213 228 247;
    --aui-secondary-text: 255 255 255;
    --aui-secondary-container-text: 14 29 42;
    --aui-secondary-dark-DEFAULT: 185 200 218;
    --aui-secondary-dark-container: 58 72 87;
    --aui-secondary-dark-text: 35 50 64;
    --aui-secondary-dark-container-text: 213 228 247;
    --aui-outline: 114 119 127;
    --aui-outline-variant: 194 199 207;
    --aui-outline-dark: 114 119 127;
    --aui-outline-dark-variant: 194 199 207;
    --aui-surface: 247 249 255;
    --aui-surface-text: 24 28 32;
    --aui-surface-variant: 222 227 235;
    --aui-surface-text-variant: 66 71 78;
    --aui-surface-dim: 216 218 224;
    --aui-surface-bright: 247 249 255;
    --aui-surface-container-lowest: 255 255 255;
    --aui-surface-container-low: 241 243 249;
    --aui-surface-container: 236 238 243;
    --aui-surface-container-high: 230 232 238;
    --aui-surface-container-highest: 224 226 232;
    --aui-surface-scrim: 0 0 0;
    --aui-surface-inverse: 45 49 53;
    --aui-surface-inverse-text: 239 241 246;
    --aui-surface-inverse-primary: 155 203 251;
    --aui-surface-dark-DEFAULT: 16 20 24;
    --aui-surface-dark-text: 224 226 232;
    --aui-surface-dark-variant: 66 71 78;
    --aui-surface-dark-text-variant: 194 199 207;
    --aui-surface-dark-dim: 16 20 24;
    --aui-surface-dark-bright: 54 57 62;
    --aui-surface-dark-container-lowest: 11 15 18;
    --aui-surface-dark-container-low: 24 28 32;
    --aui-surface-dark-container: 28 32 36;
    --aui-surface-dark-container-high: 39 42 47;
    --aui-surface-dark-container-highest: 50 53 57;
    --aui-surface-dark-scrim: 0 0 0;
    --aui-surface-dark-inverse: 224 226 232;
    --aui-surface-dark-inverse-text: 45 49 53;
    --aui-surface-dark-inverse-primary: 47 98 140;
    --aui-error: 186 26 26;
    --aui-error-text: 255 255 255;
    --aui-error-container: 255 218 214;
    --aui-error-container-text: 65 0 2;
    --aui-error-dark-DEFAULT: 255 180 171;
    --aui-error-dark-text: 105 0 5;
    --aui-error-dark-container: 147 0 10;
    --aui-error-dark-container-text: 255 218 214;
}
.theme-deku {
    --aui-primary: 26 107 81;
    --aui-primary-container: 166 242 210;
    --aui-primary-text: 255 255 255;
    --aui-primary-container-text: 0 33 22;
    --aui-primary-dark-DEFAULT: 138 214 182;
    --aui-primary-dark-container: 0 81 59;
    --aui-primary-dark-text: 0 56 40;
    --aui-primary-dark-container-text: 166 242 210;
    --aui-secondary: 76 99 89;
    --aui-secondary-container: 206 233 219;
    --aui-secondary-text: 255 255 255;
    --aui-secondary-container-text: 9 32 23;
    --aui-secondary-dark-DEFAULT: 179 204 191;
    --aui-secondary-dark-container: 53 75 65;
    --aui-secondary-dark-text: 30 53 44;
    --aui-secondary-dark-container-text: 206 233 219;
    --aui-outline: 112 121 116;
    --aui-outline-variant: 191 201 194;
    --aui-outline-dark: 112 121 116;
    --aui-outline-dark-variant: 191 201 194;
    --aui-surface: 245 251 245;
    --aui-surface-text: 23 29 26;
    --aui-surface-variant: 219 229 222;
    --aui-surface-text-variant: 64 73 68;
    --aui-surface-dim: 214 219 214;
    --aui-surface-bright: 245 251 245;
    --aui-surface-container-lowest: 255 255 255;
    --aui-surface-container-low: 239 245 240;
    --aui-surface-container: 233 239 234;
    --aui-surface-container-high: 228 234 228;
    --aui-surface-container-highest: 222 228 223;
    --aui-surface-scrim: 0 0 0;
    --aui-surface-inverse: 44 50 46;
    --aui-surface-inverse-text: 236 242 237;
    --aui-surface-inverse-primary: 138 214 182;
    --aui-surface-dark-DEFAULT: 15 21 18;
    --aui-surface-dark-text: 222 228 223;
    --aui-surface-dark-variant: 64 73 68;
    --aui-surface-dark-text-variant: 191 201 194;
    --aui-surface-dark-dim: 15 21 18;
    --aui-surface-dark-bright: 52 59 55;
    --aui-surface-dark-container-lowest: 10 15 13;
    --aui-surface-dark-container-low: 23 29 26;
    --aui-surface-dark-container: 27 33 30;
    --aui-surface-dark-container-high: 37 43 40;
    --aui-surface-dark-container-highest: 48 54 51;
    --aui-surface-dark-scrim: 0 0 0;
    --aui-surface-dark-inverse: 222 228 223;
    --aui-surface-dark-inverse-text: 44 50 46;
    --aui-surface-dark-inverse-primary: 26 107 81;
    --aui-error: 186 26 26;
    --aui-error-text: 255 255 255;
    --aui-error-container: 255 218 214;
    --aui-error-container-text: 65 0 2;
    --aui-error-dark-DEFAULT: 255 180 171;
    --aui-error-dark-text: 105 0 5;
    --aui-error-dark-container: 147 0 10;
    --aui-error-dark-container-text: 255 218 214;
}

