@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #storybook-root {
    height: 100%;
}

body{
    @apply bg-surface dark:bg-surface-dark-DEFAULT;
    font-family: "Noto Sans", sans-serif;
    background-image: radial-gradient(circle, theme('colors.neutral.300') 1px, transparent 1px);
    background-size: theme('space.2') theme('space.2');
}

